In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\ghour\Desktop\New folder\Data Sets\Drone Attacks\Drone Attacks\PakistanDroneAttacksWithTemp Ver 9 (October 19, 2017).csv',encoding='latin1')

In [3]:
df.head()

,S#,Date,Time,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,...,Injured Min,Injured Max,Women/Children,Special Mention (Site),Comments,References,Longitude,Latitude,Temperature(C),Temperature(F)
0,1.0,"Friday, June 18, 2004",22:00,Near Wana,south Waziristan,FATA,1.0,NaN,1.0,0.0,...,NaN,NaN,N,Blast occured in courtyard of the house of lon...,Village in Wana,http://archives.dawn.com/2004/06/19/top1.htm,69.9000,33.0333,28.475,83.255
1,2.0,"Sunday, May 08, 2005",23:30,Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,NaN,0.0,...,NaN,NaN,N,Drone struck a car driven by local warlord- ki...,Civilian killied was Samiullah Khan who was a ...,http://www.msnbc.msn.com/id/7847008/,70.1455,32.9746,11.475,52.655
2,3.0,"Thursday, December 01, 2005",NaN,Haisori- Miran Shah,North Waziristan,FATA,1.0,1.0,NaN,0.0,...,NaN,2.0,NaN,Explosive occurred at a mud house,No. 3 Al-Qaeda's Leader AbuHamza Rabia killed ...,http://edition.cnn.com/2005/WORLD/asiapcf/12/0...,70.1455,32.9746,7.080,44.744
3,4.0,"Friday, January 06, 2006",NaN,Saidgai village- 115km north of Wana,North Waziristan,FATA,1.0,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,http://www.reuters.com/article/2007/04/27/us-p...,70.1455,32.9746,0.535,32.963
4,5.0,"Friday, January 13, 2006",3:00,Damadola Village,Bajaur Agency,FATA,1.0,NaN,NaN,0.0,...,NaN,2.0,Y,Three houses were tarheted in Damadola village...,Masood Khan house was among those bombed. Want...,http://www.dailytimes.com.pk/default.asp?page=...,71.5000,34.6833,10.025,50.045

In [6]:
print(df.isnull().sum())

S#                          1
Date                        1
Time                      232
Location                    3
City                        1
Province                    1
No of Strike                1
Al-Qaeda                  308
Taliban                   264
Civilians Min              69
Civilians Max              46
Foreigners Min            312
Foreigners Max            265
Total Died Min             97
Total Died Mix              3
Injured Min               260
Injured Max               129
Women/Children             69
Special Mention (Site)     75
Comments                  229
References                  7
Longitude                   2
Latitude                    2
Temperature(C)              4
Temperature(F)              4
dtype: int64

In [7]:
df.fillna("None",inplace=True)

C:\Users\ghour\AppData\Local\Temp\ipykernel_14256\2303779330.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("None",inplace=True)

,S#,Date,Time,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,...,Injured Min,Injured Max,Women/Children,Special Mention (Site),Comments,References,Longitude,Latitude,Temperature(C),Temperature(F)
0,1.0,"Friday, June 18, 2004",22:00,Near Wana,south Waziristan,FATA,1.0,None,1.0,0.0,...,None,None,N,Blast occured in courtyard of the house of lon...,Village in Wana,http://archives.dawn.com/2004/06/19/top1.htm,69.9,33.0333,28.475,83.255
1,2.0,"Sunday, May 08, 2005",23:30,Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,None,0.0,...,None,None,N,Drone struck a car driven by local warlord- ki...,Civilian killied was Samiullah Khan who was a ...,http://www.msnbc.msn.com/id/7847008/,70.1455,32.9746,11.475,52.655
2,3.0,"Thursday, December 01, 2005",None,Haisori- Miran Shah,North Waziristan,FATA,1.0,1.0,None,0.0,...,None,2.0,None,Explosive occurred at a mud house,No. 3 Al-Qaeda's Leader AbuHamza Rabia killed ...,http://edition.cnn.com/2005/WORLD/asiapcf/12/0...,70.1455,32.9746,7.08,44.744
3,4.0,"Friday, January 06, 2006",None,Saidgai village- 115km north of Wana,North Waziristan,FATA,1.0,None,None,None,...,None,2.0,None,None,None,http://www.reuters.com/article/2007/04/27/us-p...,70.1455,32.9746,0.535,32.963
4,5.0,"Friday, January 13, 2006",3:00,Damadola Village,Bajaur Agency,FATA,1.0,None,None,0.0,...,None,2.0,Y,Three houses were tarheted in Damadola village...,Masood Khan house was among those bombed. Want...,http://www.dailytimes.com.pk/default.asp?page=...,71.5,34.6833,10.025,50.045

In [9]:
print(df.isnull().sum())

S#                        0
Date                      0
Time                      0
Location                  0
City                      0
Province                  0
No of Strike              0
Al-Qaeda                  0
Taliban                   0
Civilians Min             0
Civilians Max             0
Foreigners Min            0
Foreigners Max            0
Total Died Min            0
Total Died Mix            0
Injured Min               0
Injured Max               0
Women/Children            0
Special Mention (Site)    0
Comments                  0
References                0
Longitude                 0
Latitude                  0
Temperature(C)            0
Temperature(F)            0
dtype: int64

In [10]:
city_attack_counts = df.groupby('City')['City'].transform('size')
df['City_with_Total_Attacks'] = df['City'].astype(str) + ' (Total Attacks: ' + city_attack_counts.astype(str) + ')'

In [18]:
print(df[df['City'] == 'North Waziristan'][['City', 'City_with_Total_Attacks']])

                 City                City_with_Total_Attacks
1    North Waziristan  North Waziristan (Total Attacks: 289)
2    North Waziristan  North Waziristan (Total Attacks: 289)
3    North Waziristan  North Waziristan (Total Attacks: 289)
6    North Waziristan  North Waziristan (Total Attacks: 289)
7    North Waziristan  North Waziristan (Total Attacks: 289)
..                ...                                    ...
394  North Waziristan  North Waziristan (Total Attacks: 289)
395  North Waziristan  North Waziristan (Total Attacks: 289)
397  North Waziristan  North Waziristan (Total Attacks: 289)
398  North Waziristan  North Waziristan (Total Attacks: 289)
399  North Waziristan  North Waziristan (Total Attacks: 289)

[289 rows x 2 columns]